*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    border-bottom: 0.5px solid white;

}
/* tao them container de mac dinh vo giua */
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* slick js */

.header__container{
    height: 80px;
  /*  border: 2px solid red;*/
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__container p{
    color: white;
}
.header__container a{
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 15px;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    transition: 0.3s;
}
.header__container a.active,
.header__container a:hover{
    color: #e62b4a;
}


.header__container .logo{
    font-size: 2rem;
}
/* end header */

/* start banner */
.banner{
    background-image: url(./image-video/home_slider.jpg);
    height: 100vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__container{
    /* border: 10px solid orange; */
    width:max-content;
    align-items: center;
    color: white;
    text-align: center;
    
}

.banner__container h2{
    font-size: 4rem;
font-weight: 700;
margin: 20px 0px;
}
.banner__container p{
    font-size: 2rem;
 
}
.banner__container button{
    background: #e62b4a;
    border: none;
    color: white;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: 0.5s;
    cursor: pointer;
}
.banner__container button:hover{
    /* background: #af2239; */
    background: black;
}
.banner__container i{
    font-size: 2rem;
    animation: arrowAnimate 1s infinite;
    color: #e62b4a;
}

/* end banner */
/* start carousel */
.carousel{
    padding: 80px 0px;
    background: #000;
}
.carousel__item{
    /* background: white;
    border: 1px solid red; */
    height: 220px;
    padding: 0 15px;
}
.carousel .item__container{
background: white;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 1.5rem;
position: relative;
}

.carousel .item__container::before{
position: absolute;
content: "";
width: 5px;
height: 0px;
top: 0;
right: 0;
background: #e62b4a;
transition: 0.3s;
}
.carousel .item__container:hover::before{
    height: 100%;
}
.carousel .slick-dots li.slick-active button:before{
    color:#e62b4a;
}
.carousel .slick-dots li button:before{
    font-size: 20px;
    color: white;
}
.carousel .slick-dots{
    bottom: -50px;
}
/* start blogs */


.blogs{
    padding: 80px 0px;
}
.blogs__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    aspect-ratio: 1 / 1;

}
.blogs__list img{
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    filter: grayscale(50%) contrast(50%);
}
.blogs__list .item-1{
    /* bat dau/ ket thuc  */
    grid-column: 1 / 3;
    /* bat dau / so luong mo rong*/
    grid-row: 1 / span 2;
}
.blogs__list .item-2{
    /* bat dau/ ket thuc  */
    grid-column: 3 / 5;
    /* bat dau / so luong mo rong*/
    grid-row: 3 / 5;
}

.blogs__list .blogs__item{
position: relative;
}
.blogs__list .item__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(230, 43, 74, 0.6);
    opacity: 0;
    transition: 0.3s;
}

.blogs__item .overlay__search{
    position: absolute;
    background: white;
    width: 50px;
    height: 50px;
    top: 30px;
    right: 30px;
    text-align: center;
    line-height: 50px;
    transform: translateY(50px);
    transition: 0.3s;
}

.blogs__item .overlay__title{
    color: white;
    position: absolute;
    left: 30px;
    bottom: 30px;
    transform: translateY(50px);
    transition: 0.3s;
}

.blogs__list .item__overlay:hover{
    opacity: 1;
}
.blogs__list .item__overlay:hover .overlay__title,
.blogs__list .item__overlay:hover .overlay__search{
    transform: translateY(0);
}

/* end blogs */

/* number */
.numbers{
    background-color: #000;
    /* height: 100px; */
    text-align: center;
    padding: 80px 0px;
    color: white;
}
.number__list{
    display: flex;
    justify-content:space-evenly;
}
.number__list h2{
    font-size: 80px;
    font-weight: lighter;
}
.number__list p{
    font-size: 20px;
}


/* end number */















@keyframes arrowAnimate{
    from{
        transform: translateY(0px);
        opacity: 1;

    }
    to{
        transform: translateY(120px);
        opacity: 0;

    }
}